In [28]:
import pandas as pd
from sklearn.model_selection import train_test_split


canada_sars = pd.read_csv('sars_canada.csv')
canada_covid = pd.read_csv('covid_canada.csv')

display(canada_sars)
display(canada_covid)

,date,country,popdata2003,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,3/17/2003,Canada,31641630,8,8,2,2
1,3/18/2003,Canada,31641630,0,8,0,2
2,3/19/2003,Canada,31641630,0,8,0,2
3,3/20/2003,Canada,31641630,1,9,0,2
4,3/21/2003,Canada,31641630,0,9,0,2
...,...,...,...,...,...,...,...
91,7/7/2003,Canada,31641630,0,251,0,38
92,7/8/2003,Canada,31641630,0,250,0,38
93,7/9/2003,Canada,31641630,0,249,0,38
94,7/10/2003,Canada,31641630,1,250,0,38
95,7/11/2003,Canada,31641630,0,250,0,38

,date,country,popdata2018,new_cases,cumulative_cases,new_deaths,cumulative_deaths
0,12/31/2019,Canada,37058856,0,0,0,0
1,1/1/2020,Canada,37058856,0,0,0,0
2,1/2/2020,Canada,37058856,0,0,0,0
3,1/3/2020,Canada,37058856,0,0,0,0
4,1/4/2020,Canada,37058856,0,0,0,0
...,...,...,...,...,...,...,...
128,5/7/2020,Canada,37058856,1450,63496,189,4232
129,5/8/2020,Canada,37058856,1426,64922,176,4408
130,5/9/2020,Canada,37058856,1512,66434,161,4569
131,5/10/2020,Canada,37058856,1268,67702,124,4693
132,5/11/2020,Canada,37058856,1146,68848,178,4871

In [26]:
# Splits the two data frames into training and test data, x and y values are not defined yet

sars_train, sars_test = train_test_split(canada_sars, test_size=.2, random_state = 8)
covid_train, covid_test = train_test_split(canada_covid, test_size=.2, random_state=8)

display(sars_train)
display(sars_test)
display(covid_train)
display(covid_test)

,date,country,popdata2003,new_cases,cumulative_cases,new_deaths,cumulative_deaths
34,4/25/2003,Canada,31641630,0,140,0,15
39,5/1/2003,Canada,31641630,0,147,0,20
16,4/4/2003,Canada,31641630,7,69,1,7
19,4/8/2003,Canada,31641630,1,91,1,10
50,5/14/2003,Canada,31641630,0,143,1,23
...,...,...,...,...,...,...,...
8,3/26/2003,Canada,31641630,8,19,0,3
90,7/4/2003,Canada,31641630,0,251,0,38
5,3/22/2003,Canada,31641630,0,9,0,2
84,6/26/2003,Canada,31641630,1,251,0,37
67,6/3/2003,Canada,31641630,15,213,1,31

,date,country,popdata2003,new_cases,cumulative_cases,new_deaths,cumulative_deaths
24,4/14/2003,Canada,31641630,0,100,3,13
11,3/29/2003,Canada,31641630,8,37,0,3
1,3/18/2003,Canada,31641630,0,8,0,2
12,3/31/2003,Canada,31641630,7,44,1,4
32,4/23/2003,Canada,31641630,1,140,0,13
40,5/2/2003,Canada,31641630,2,149,2,22
64,5/30/2003,Canada,31641630,8,159,2,28
82,6/24/2003,Canada,31641630,3,249,2,37
17,4/5/2003,Canada,31641630,5,74,0,7
3,3/20/2003,Canada,31641630,1,9,0,2
35,4/26/2003,Canada,31641630,2,142,3,18
93,7/9/2003,Canada,31641630,0,249,0,38
41,5/3/2003,Canada,31641630,0,149,0,22
55,5/20/2003,Canada,31641630,0,140,0,23
23,4/12/2003,Canada,31641630,3,101,0,10
70,6/6/2003,Canada,31641630,1,219,0,31
95,7/11/2003,Canada,31641630,0,250,0,38
75,6/13/2003,Canada,31641630,4,242,0,32
76,6/16/2003,Canada,31641630,1,243,0,32
58,5/23/2003,Canada,31641630,0,140,0,23

,date,country,popdata2018,new_cases,cumulative_cases,new_deaths,cumulative_deaths
120,4/29/2020,Canada,37058856,1526,50015,152,2859
57,2/26/2020,Canada,37058856,0,11,0,0
0,12/31/2019,Canada,37058856,0,0,0,0
3,1/3/2020,Canada,37058856,0,0,0,0
62,3/2/2020,Canada,37058856,4,24,0,0
...,...,...,...,...,...,...,...
48,2/17/2020,Canada,37058856,0,8,0,0
104,4/13/2020,Canada,37058856,1064,24365,64,717
83,3/23/2020,Canada,37058856,128,1430,2,20
105,4/14/2020,Canada,37058856,1298,25663,63,780
84,3/24/2020,Canada,37058856,216,1646,4,24

,date,country,popdata2018,new_cases,cumulative_cases,new_deaths,cumulative_deaths
112,4/21/2020,Canada,37058856,2046,36823,110,1690
87,3/27/2020,Canada,37058856,633,4018,4,39
99,4/8/2020,Canada,37058856,1230,17883,57,380
121,4/30/2020,Canada,37058856,1572,51587,137,2996
69,3/9/2020,Canada,37058856,5,62,0,0
127,5/6/2020,Canada,37058856,1274,62046,189,4043
106,4/15/2020,Canada,37058856,1383,27046,123,903
4,1/4/2020,Canada,37058856,0,0,0,0
17,1/17/2020,Canada,37058856,0,0,0,0
29,1/29/2020,Canada,37058856,1,3,0,0
30,1/30/2020,Canada,37058856,0,3,0,0
76,3/16/2020,Canada,37058856,60,304,0,1
44,2/13/2020,Canada,37058856,0,7,0,0
103,4/12/2020,Canada,37058856,1168,23301,84,653
12,1/12/2020,Canada,37058856,0,0,0,0
22,1/22/2020,Canada,37058856,0,0,0,0
132,5/11/2020,Canada,37058856,1146,68848,178,4871
90,3/30/2020,Canada,37058856,869,6255,1,61
124,5/3/2020,Canada,37058856,1653,56714,175,3566
73,3/13/2020,Canada,37058856,35,138,0,1
33,2/2/2020,Canada,37058856,0,4,0,0
65,3/5/2020,Canada,37058856,3,33,0,0
122,5/1/2020,Canada,37058856,1649,53236,188,3184
43,2/12/2020,Canada,37058856,0,7,0,0
119,4/28/2020,Canada,37058856,1605,48489,147,2707
1,1/1/2020,Canada,37058856,0,0,0,0
130,5/9/2020,Canada,37058856,1512,66434,161,4569